<!-- Cars -->
<section>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Samochody</h2>
            <h3 class="section-subheading text-muted">Mamy rózne klasy samochodów w naszej ofercie. Wybierz odpowiedni dla siebie!</h3>
        </div>
    </div>
    <div class="row db-padding-btm db-attached">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-one">
                    <div class="price">od 69<sup>zł</sup><small>na dzień</small></div>
                    <div class="type">Klasa miejska</div>
                    <div class="col-xl-12 project">
                        <div class="project-hover">
                            <h2>Klasa miejska</h2>   
                            <hr />
                            <p>Małe, kompaktowe samochody, które dzięki niewielkim gabarytom zmieszczą się w każdą dziurę.</p>
                            <a ng-href="#!rent">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two popular">
                    <div class="price">od 119<sup>zł</sup><small>na dzień</small></div>
                    <div class="type">Klasa średnia</div>
                    <div class="col-xl-12 project project-2">
                        <div class="project-hover">
                            <h2>Klasa średnia</h2>
                            <hr />
                            <p>Samochodody z myślą o tych, którzy chcą poczuć się komfortowo również poza miastem na niewielkich odległościach.</p>
                            <a ng-href="#!rent">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three popular">
                    <div class="price">od 209<sup>zł</sup><small>na dzień</small></div>
                    <div class="type">Klasa premium</div>
                    <div class="col-xl-12 project project-3">
                        <div class="project-hover">
                            <h2>Samochody premium</h2>
                             <hr />
                            <p>Segment samochodów dla ceniących sobie komfort podróżowania.</p>
                            <a ng-href="#!rent">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-four popular">
                    <div class="price">od 99<sup>zł</sup><small>na dzień</small></div>
                    <div class="type">Busy</div>
                    <div class="col-xl-12 project project-4">
                        <div class="project-hover">
                            <h2>Busy</h2>
                            <hr />
                            <p>Jeżeli potrzebujesz ładownego i sporego samochodu to właśnie ten segment jest idealnym rozwiązaniem.</p>
                            <a ng-href="#!rent">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>